<div class="flex flex-col" *ngIf="films">
  <p class="text-yellow-400">Title: <span class="text-red-600">{{ films.title }}</span></p>
  <p class="text-yellow-400">Producer: <span class="text-red-600">{{ films.producer }}</span></p>
  <p class="text-yellow-400">Release date: <span class="text-red-600">{{ films.release_date }}</span></p>
  <p class="text-yellow-400">Director: <span class="text-red-600">{{ films.director }}</span></p>
  <button class="text-yellow-400" (click)="goBack()">Go back</button>
</div>
